 /* 定义自定义字体 */
          @font-face {
              font-family: 'HarmonyOS';
              src: url('../font/HarmonyOS.ttf') format('woff2');
              font-weight: normal; /* 可以添加，如果字体有特定的重量 */
              font-style: normal;  /* 可以添加，如果字体有特定的样式（如斜体） */
          }
          
          /* 基础样式重置 */
          html, body {
              margin: 0;
              padding: 0;
              box-sizing: border-box; /* 添加此属性可以简化元素宽度和高度的计算 */
              font-family: 'HarmonyOS', 'Microsoft YaHei', 'Noto Sans SC', sans-serif;
              line-height: 2.0; /* 可以添加一个默认的行高，使文本更易读 */
              /* 其他基础样式，如字体颜色、背景颜色等，也可以在这里设置 */
          }
          
          /* Tarot.css */
          body, html {
              background: rgba(255, 255, 255, 0.6);
          }
          
          .fortune {
              width: 35%;
              height: 65rem;
              float: left;
              text-align: center;
              background: rgba(255, 255, 255, 0.6);
          }
          
          .fortune .content {
              margin: 0 auto;
              padding: 12px;
              height: 49rem;
              max-width: 980px;
              max-height: 1024px;
              background: rgba(255, 255, 255, 0.6);
              border-radius: 22px;
              backdrop-filter: blur(3px);
              box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
              writing-mode: vertical-rl;
              text-orientation: mixed;
          }
          
          .fortune .content p {
              font-size: 20px;
          }
          
          .image {
              height: 65rem;
              width: 65%;
              float: right;
              box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
              text-align: center;
          }
          
          .image img {
              height: 100%;
              filter: brightness(100%);
              overflow: hidden;
              display: inline-block;
              vertical-align: middle;
              margin: 0;
              padding: 0;
          }          